# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# IDE files
.vscode/
.idea/
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
db.sqlite3
*.db
*.db-shm
*.db-wal

# Static files
staticfiles/
media/

# Secret keys and sensitive information
*.env
*.env.*

# Idea files
.idea/

# Certificates
*.crt
*.pem
*.key
